# Exclude these directories
src/
node_modules/
build/
scripts/
integration-tests/
.github/
www/

# Exclude specific files
yarn.lock
tsconfig.json
jest.unit.config.js
jest.integration.config.js
.eslintrc.json
.gitignore
README.md
